<div>
<p ><img  align="right" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/aj29iemt0ogdyrdlksd4" height="160px"></p>
</div>

<br>
<br>

# **Aula 04 - Importar e Exportar Arquivos com Pandas**
<br>
<br>

___

*Exercício 1: Coloque em prática o que você aprendeu*

Até agora utilizamos funções do pandas em bases públicas. Nesse exercício, convidamos você a encontrar alguma planilha ou arquivo CSV que você utiliza no seu trabalho para carregar no pandas (com o método read_csv ou read_excel) e aplicar as funções que aprendemos até agora, como value_counts, ou unique, etc para visualizar os resultados

In [1]:
import pandas as pd

In [5]:
read_csv = pd.read_csv('Exercícios_Aula_04_2026_QS_World University_Rankings.csv')

In [6]:
read_csv.head(3)

,Rank,Previous Rank,Name,Country/Territory,Region,Size,Focus,Research,Status,Academic Reputation SCORE,...,International student RANK,International Students Diversity SCORE,International Students Diversity RANK,International Research Network SCORE,International Research Network RANK,Employment Outcomes SCORE,Employment Outcomes RANK,Sustainability SCORE,Sustainability RANK,Overall SCORE
0,1,1,Massachusetts Institute of Technology (MIT),United States of America,Americas,M,CO,VH,Private not for Profit,100.0,...,153.0,92.3,130.0,94.1,98.0,100.0,7,93.8,33,100
1,2,2,Imperial College London,United Kingdom,Europe,L,FO,VH,Public,99.6,...,35.0,100.0,22.0,97.5,28.0,95.9,68,98.3,7=,99.4
2,3,6,Stanford University,United States of America,Americas,L,FC,VH,Private not for Profit,100.0,...,261.0,76.1,230.0,96.5,49.0,100.0,2,95.4,19=,98.9

In [7]:
df_univer = pd.DataFrame(read_csv)

In [8]:
df_univer.shape

(1504, 30)

In [9]:
df_univer.dtypes

Rank                                          str
Previous Rank                                 str
Name                                          str
Country/Territory                             str
Region                                        str
Size                                          str
Focus                                         str
Research                                      str
Status                                        str
Academic Reputation SCORE                 float64
Academic Reputation  RANK                   int64
Employer Reputation SCORE                 float64
Employer Reputation RANK                    int64
Faculty Student Ratio SCORE               float64
Faculty Student Ratio RANK                  int64
Citations per Faculty SCORE               float64
Citations per Faculty RANK                  int64
International Faculty  SCORE              float64
International Faculty  RANK                   str
International Student SCORE               float64
International student  RANK               float64
International Students Diversity SCORE    float64
International Students Diversity RANK     float64
International Research Network SCORE      float64
International Research Network RANK       float64
Employment Outcomes SCORE                 float64
Employment Outcomes RANK                    int64
Sustainability SCORE                      float64
Sustainability RANK                           str
Overall SCORE                                 str
dtype: object

In [11]:
df_univer.info()

<class 'pandas.DataFrame'>
RangeIndex: 1504 entries, 0 to 1503
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Rank                                    1504 non-null   str
 1   Previous Rank                           1389 non-null   str
 2   Name                                    1504 non-null   str
 3   Country/Territory                       1504 non-null   str
 4   Region                                  1504 non-null   str
 5   Size                                    1503 non-null   str
 6   Focus                                   1504 non-null   str
 7   Research                                1503 non-null   str
 8   Status                                  1456 non-null   str
 9   Academic Reputation SCORE               1504 non-null   float64
 10  Academic Reputation  RANK               1504 non-null   int64
 11  Employer Reputation SCORE               1504 non-null   float64
 12  Employer Reputation RANK                1504 non-null   int64
 13  Faculty Student Ratio SCORE             1504 non-null   float64
 14  Faculty Student Ratio RANK              1504 non-null   int64
 15  Citations per Faculty SCORE             1504 non-null   float64
 16  Citations per Faculty RANK              1504 non-null   int64
 17  International Faculty  SCORE            1417 non-null   float64
 18  International Faculty  RANK             1417 non-null   str
 19  International Student SCORE             1467 non-null   float64
 20  International student  RANK             1467 non-null   float64
 21  International Students Diversity SCORE  1467 non-null   float64
 22  International Students Diversity RANK   1467 non-null   float64
 23  International Research Network SCORE    1502 non-null   float64
 24  International Research Network RANK     1502 non-null   float64
 25  Employment Outcomes SCORE               1504 non-null   float64
 26  Employment Outcomes RANK                1504 non-null   int64
 27  Sustainability SCORE                    1480 non-null   float64
 28  Sustainability RANK                     1480 non-null   str
 29  Overall SCORE                           1504 non-null   str
dtypes: float64(13), int64(5), str(12)
memory usage: 352.6 KB

In [12]:
df_univer['Region'].value_counts()

Region
Asia        567
Europe      488
Americas    358
Africa       47
Oceania      44
Name: count, dtype: int64