<div>
<p ><img  align="right" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/aj29iemt0ogdyrdlksd4" height="160px"></p>
</div>

<br>
<br>

# **Aula 02 - Funções do Pandas - Parte I**

**Funções**
* **head**: Retorna as 5 primeiras linhas.
* **columns**: Os rótulos de coluna do DataFrame.
* **rename**: Altere os rótulos dos eixos.
* **index**: Obtém os índices (rótulos de linha) do DataFrame.
* **dtypes**: Retorna os tipos de dados presentes no DataFrame.
* **shape**: Retorna uma tupla representando a dimensionalidade do DataFrame.
* **info**: Imprime um resumo conciso de um DataFrame.
* **values**: Retorne uma representação Numpy do DataFrame.
<br>
<br>
___

**Importação da Biblioteca**

In [1]:
import pandas as pd

*Exercício 1: Utilizando a função head()*

- Importe a biblioteca pandas.
- Crie um DataFrame chamado "dados_alunos" com as colunas "Nome" e "Idade".
- Preencha o DataFrame com os seguintes dados:
- Nome: "Maria", "João", "Pedro", "Ana", "Luiz"
- Idade: 25, 30, 35, 40, 45.
- Use a função head() para imprimir as 2 primeiras linhas do DataFrame.

In [3]:
lista_dados_alunos = {'Nome': ["Maria", "João", "Pedro", "Ana", "Luiz"],
                            'Idade': ['25', '30', '35', '40','45']}

dados_alunos = pd.DataFrame(lista_dados_alunos)
dados_alunos.head(2)

    Nome Idade
0  Maria    25
1   João    30

*Exercício 2: Utilizando a função columns*

- Utilize o DataFrame "dados_alunos" criado no exercício anterior.
- Use a função columns para obter os rótulos das colunas do DataFrame e imprima-os

In [4]:
dados_alunos.columns

Index(['Nome', 'Idade'], dtype='str')

*Exercício 3: Utilizando a função rename*

- Utilize o DataFrame "dados_alunos" criado no exercício 1.
- Utilize a função rename para renomear a coluna "Nome" para "Aluno" e a coluna "Idade" para "Idade (anos)".
- Imprima o DataFrame após a renomeação.

In [6]:
dados_alunos = dados_alunos.rename(columns={'Nome': 'Aluno', 'Idade': 'Idade(anos)'})
dados_alunos.columns

Index(['Aluno', 'Idade(anos)'], dtype='str')

*Exercício 4: Utilizando a função index*

- Utilize o DataFrame "dados_alunos" após a renomeação no exercício anterior.
- Use a função index para obter os rótulos de linha (índices) do DataFrame e imprima-os.

In [7]:
print(dados_alunos.index)

RangeIndex(start=0, stop=5, step=1)

*Exercício 5: Utilizando a função dtypes*

- Importe a biblioteca pandas.
- Crie um DataFrame chamado "dados_clientes" com as colunas "Nome", "Idade", "Email" e "Telefone".
- Preencha o DataFrame com dados fictícios.
- Use a função dtypes para obter os tipos de dados das colunas do DataFrame e imprima-os.

In [8]:
lista_dados_clientes = [
    {"Nome": "João Silva", "Idade": 28, "Email": "joao@email.com", "Telefone": "11999999999"},
    {"Nome": "Maria Santos", "Idade": 35, "Email": "maria@email.com", "Telefone": "21888888888"},
    {"Nome": "Pedro Costa", "Idade": 22, "Email": "pedro@email.com", "Telefone": "31777777777"},
    {"Nome": "Ana Oliveira", "Idade": 40, "Email": "ana@email.com", "Telefone": "41666666666"},
    {"Nome": "Carlos Souza", "Idade": 29, "Email": "carlos@email.com", "Telefone": "51555555555"}
]

dados_clientes = pd.DataFrame(lista_dados_clientes)

dados_clientes.dtypes

Nome          str
Idade       int64
Email         str
Telefone      str
dtype: object

*Exercício 6: Utilizando a função shape*

- Utilize o DataFrame "dados_clientes" criado no exercício 5.
- Use a função shape para obter a dimensionalidade do DataFrame e imprima-a.

In [9]:
dados_clientes.shape

(5, 4)

*Exercício 7: Utilizando a função info*

- Utilize o DataFrame "dados_clientes" criado no exercício 5.
- Use a função info para imprimir um resumo conciso do DataFrame, incluindo informações sobre tipos de dados e valores não nulos.

In [10]:
dados_clientes.info()

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      5 non-null      str
 1   Idade     5 non-null      int64
 2   Email     5 non-null      str
 3   Telefone  5 non-null      str
dtypes: int64(1), str(3)
memory usage: 292.0 bytes

*Exercício 8: Utilizando a função values*

- Utilize o DataFrame "dados_clientes" criado no exercício 5.
- Use a função values para obter uma representação Numpy do DataFrame e imprima-a.

In [13]:
print(dados_clientes.values)

[['João Silva' 28 'joao@email.com' '11999999999']
 ['Maria Santos' 35 'maria@email.com' '21888888888']
 ['Pedro Costa' 22 'pedro@email.com' '31777777777']
 ['Ana Oliveira' 40 'ana@email.com' '41666666666']
 ['Carlos Souza' 29 'carlos@email.com' '51555555555']]