<div>
<p ><img  align="right" src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/aj29iemt0ogdyrdlksd4" height="160px"></p>
</div>

<br>
<br>

# **Aula 07 - Combinando Dados**

<br>
<br>

___

*Exercício 1: Utilizando a função concat para Juntar DataFrames Verticalmente*

- Importe a biblioteca pandas.
- Crie dois DataFrames, "dados1" e "dados2", com colunas "Nome" e "Idade".
- Preencha os DataFrames com dados fictícios.
Utilize a função concat para juntar os DataFrames verticalmente (um abaixo do outro) e imprima o resultado.

In [1]:
import pandas as pd

In [3]:
d1= {"Nome": ["Ana", "Bruno"],"Idade": [20, 22]}

d2 = {"Nome": ["Carla", "Daniel"], "Idade": [19, 21]}

dados1 = pd.DataFrame(d1)
dados2 = pd.DataFrame(d2)

concat= pd.concat([dados1,dados2], ignore_index=True)

concat.head(4)

     Nome  Idade
0     Ana     20
1   Bruno     22
2   Carla     19
3  Daniel     21

*Exercício 2: Utilizando a função concat para Juntar DataFrames Horizontalmente*

- Utilize os DataFrames "dados1" e "dados2" criados no exercício anterior.
- Use a função concat para juntar os DataFrames horizontalmente (um ao lado do outro) e imprima o resultado.

In [4]:
horizontal = pd.concat([dados1, dados2], axis=1)

horizontal.head(4)

    Nome  Idade    Nome  Idade
0    Ana     20   Carla     19
1  Bruno     22  Daniel     21

*Exercício 3: Utilizando a função merge para Mesclar DataFrames por Coluna Comum*

- Crie dois DataFrames, "vendedores" e "vendas", com informações sobre vendedores e suas vendas, respectivamente.
- Use a função merge para mesclar os DataFrames com base na coluna comum "ID" e imprima o resultado.

In [10]:
dado_vendedor ={"ID": [1, 2, 3],"Nome": ["Ana", "Bruno", "Carla"]}

dado_vendas = {"ID": [1, 2, 1, 3],"Produto": ["Notebook", "Mouse", "Teclado", "Monitor"],"Valor": [3000, 150, 250, 1200]}

vendedor = pd.DataFrame(dado_vendedor)
vendas = pd.DataFrame(dado_vendas)

merge = pd.merge(vendedor,vendas, on="ID")

merge.head(6)

   ID   Nome   Produto  Valor
0   1    Ana  Notebook   3000
1   1    Ana   Teclado    250
2   2  Bruno     Mouse    150
3   3  Carla   Monitor   1200

*Exercício 4: Utilizando a função merge com Mescla Interna e Colunas Diferentes*

- Utilize os DataFrames "vendedores" e "vendas" criados no exercício anterior.
- Use a função merge para mesclar os DataFrames com base em colunas diferentes ("ID" em "vendedores" e "Vendedor_ID" em "vendas").
- Imprima o resultado da mescla.

In [15]:
vendas = vendas.rename(columns={'ID': 'Vendedor_ID'})

merge_colunas = pd.merge(vendedor,vendas,left_on="ID", right_on="Vendedor_ID")

merge_colunas.head()

   ID   Nome  Vendedor_ID   Produto  Valor
0   1    Ana            1  Notebook   3000
1   1    Ana            1   Teclado    250
2   2  Bruno            2     Mouse    150
3   3  Carla            3   Monitor   1200

*Exercício 5: Utilizando a função join para Unir DataFrames por Índice*

- Importe a biblioteca pandas.
- Crie dois DataFrames, "alunos" e "notas", com informações sobre alunos e suas notas, respectivamente.
- Use a função set_index para definir o índice de ambos os DataFrames como a coluna "ID".
- Utilize a função join para unir os DataFrames por índice e imprima o resultado.

In [ ]:
d1_5 = {"ID": [1, 2, 3], "Nome": ["Lucas", "Marina", "Pedro"]}

d2_5 = {"ID": [1, 2, 3],"Nota": [8.5, 9.0, 7.5]}

In [17]:
alunos = pd.DataFrame(d1_5)
notas = pd.DataFrame(d2_5)

alunos = alunos.set_index("ID")
notas = notas.set_index("ID")

resultado_join = alunos.join(notas)

print(resultado_join)

      Nome  Nota
ID
1    Lucas   8.5
2   Marina   9.0
3    Pedro   7.5